{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-5"> <!-- Die Klasse mt-5 fügt einen oberen Abstand hinzu -->
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
      <div class="card shadow">
        <img class="card-img-top" src="{{ url_for('static', filename=product.image_url) }}" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text"><strong>{{ product.price }} €</strong> pro Stunde</p>
          <a href="{{ url_for('views.produkt_detail', produkt_id=product.id) }}" class="btn btn-dark">Details ansehen</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}